<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- Title of the tab -->
  <title>Zujo | Data</title>
  <link rel="stylesheet" href="css/styles.css">
  <!--Using FavIcon for tab-->
  <link rel="icon" type="image/png" href="zujo/z.png">
</head>

<body>
